/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
}


/* GENERAL STYLES */

body {
    background-color: black;
    color: seashell;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}


/* HEADER STYLES */

header {
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    margin-right: 10px;
}

nav a {
    color: seashell;
    margin-left: 35px;
}

nav a:hover {
    color: chocolate;
}


/* SECTION:MISSION STYLES */

#mission {
    height: 700px;
    width: 1200px;
    background-image: url(./img/img-mission-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 70px;
    display: flex;
    margin: auto;
    align-items: center;
}

.mission-info {
    width: 1200px;
    background-color: black;
    text-align: center;
    padding: 10px;
}


/* SECTION: FEATURED STYLES */

#featured {
    position: relative;
    margin: 200px;
    text-align: center;
    width: 1000px;
}

.featured-info {
    margin-bottom: 20px;
}

.featured-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.featured-item {
    margin: 15px;
}

.featured-item img {
    height: 200px;
    width: 300px;
}

.featured-item h4{
    margin-top: 10px;
}


/* SECTION:MISSION STYLES */

#locations {
    height: 500px;
    width: 1200px;
    background-image: url(./img/img-locations-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.locations-container {
    display: inline-flex;
}

.locations-info {
    margin-bottom: 15px;
}

.locations-item {
    background-color: black;
    padding: 10px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
